<aside class="right-side">
  <section class="content-header">
    <h1>Test Categories</h1>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="livicon" data-name="home" data-size="16" data-color="#000"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#">Mandates</a>
      </li>
      <li class="active">All Mandates</li>
    </ol>
  </section>


  <section class="content paddingleft_right15">

    <div class="row ">
      <div class="row "  style="margin-bottom: 20px">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          Set A new Test Category
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Category Set</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="FormValidtation" (ngSubmit)="AddNewCategory()">
              <div class="modal-body">

                <label for="basic-url">Enter Your Category</label>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">Example : French Test</span>
                  <input type="text" class="form-control" name="name" [(ngModel)]="AddedCategorie.name" formControlName="name" aria-describedby="basic-addon3">

                </div>
                <span style="color: red" *ngIf="FormValidtation.controls['name']?.errors && FormValidtation.controls['name']?.touched "> Field Required *</span>

              </div>
              <div class="modal-footer">
                <button type="button" #btnClose class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="FormValidtation.invalid">Save changes</button>
              </div>
              </form>
              <div class="alert alert-danger " [hidden]="ErrorCnx">
                <p>Warning ! Please checkout your internet connection</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div  *ngFor="let cat of categories" class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="livicon" data-name="stopwatch" data-size="16" data-loop="true" data-c="#fff" data-hc="white"></i> {{cat.name}}
          </h3>

        </div>
        <div class="panel-body " style="height: 100px">
          <div class="row">
            <div *ngFor="let module of cat.modules" class="col-md-3" >

              <button type="button" class="btn btn-warning"><a href="auth/category/{{cat.id}}">#{{module.title}}</a></button>

            </div>
          </div>
          <div class="row" style="margin-top: 5px">
          <button type="button" class="btn " ><a href="auth/category/{{cat.id}}" >
            Add a new Module
          </a></button>

          </div>
        </div>
      </div>



    </div>


    </div>




  </section>
</aside>

