<aside class="right-side">

  <section class="content-header">
    <h1>Good Bye</h1>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="livicon" data-name="home" data-size="16" data-color="#000"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#">Thank you</a>
      </li>
      <li class="active"></li>
    </ol>
  </section>


  <section class="content paddingleft_right15" style="text-align: center ; font-size: 30px; font-family: 'Franklin Gothic Book' ; margin-top: 20px; color: black; background-color: grey">
  <div>
    <p>
      Thank you , You have finished your test  , you will be contacted as soon as possible! <br>
      Best Regards <b>Levio Team</b>
    </p>
    <img  width="600" height="300" src="https://static1.squarespace.com/static/5afc3f5255b02c127062175d/t/5afc4def6d2a73db385c1ccf/1541187406669/?format=1500w">
    <div>
      <button class="btn"> Home</button>
    </div>

  </div>



  </section>
</aside>

