<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <!--section starts-->
    <h1>User Profile</h1>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="livicon" data-name="home" data-size="14" data-loop="true"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#">User</a>
      </li>
      <li class="active">User Profile</li>
    </ol>
  </section>
  <!--section ends-->
  <section class="content">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav  nav-tabs ">
          <li class="active">
            <a href="#tab1" data-toggle="tab">
              <i class="livicon" data-name="user" data-size="16" data-c="#000" data-hc="#000" data-loop="true"></i> User Profile</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab">
              <i class="livicon" data-name="key" data-size="16" data-loop="true" data-c="#000" data-hc="#000"></i> Change Password</a>
          </li>
        </ul>
        <div class="tab-content mar-top">
          <div id="tab1" class="tab-pane fade active in">
            <div class="row">
              <div class="col-lg-12">
                <div class="panel">
                  <div class="panel-heading" *ngIf="resourceCo.roleT === role ">
                    <h3 class="panel-title" >
                      <i class="glyphicon glyphicon-star" style="color: yellow; width: 20px;height: 20px;">

                      </i>
                      {{resourceCo.moyenneSkill}}
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="col-md-4">
                      <div class="text-center">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-new thumbnail img-file">
                            <img src="assets/imagesResources/{{resourceCo.picture}}.jpg"  width="200" class="img-responsive" height="150" alt="riot">
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-bordered table-striped" id="users">
                            <tr>
                              <td>User Name</td>
                              <td>
                               {{resourceCo.firstName}}  {{resourceCo.lastName}}
                              </td>
                            </tr>
                            <tr>
                              <td>E-mail</td>
                              <td>
                              {{resourceCo.email}}
                              </td>
                            </tr>
                            <tr>
                              <td>Role</td>
                              <td>
                             {{resourceCo.roleT}}
                              </td>
                            </tr>
                            <tr *ngIf="resourceCo.roleT === role ">
                              <td>Status</td>
                              <td>
                                <a href="#" id="status" data-type="select" data-pk="1" data-value="1" data-title="Status">{{resourceCo.workProfil}}</a>
                              </td>
                            </tr>
                            <tr *ngIf="resourceCo.roleT === role ">
                              <td>Job Type</td>
                              <td>
                               {{resourceCo.jobType}}
                              </td>
                            </tr>
                            <tr *ngIf="resourceCo.roleT === role ">
                              <td>Businness Sector</td>
                              <td >
                                <a href="#" data-pk="1" class="editable" data-title="Edit City">{{resourceCo.businessSector}}</a>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab2" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12 pd-top">
                <form action="#" class="form-horizontal">
                  <div class="form-body">
                    <div class="form-group">
                      <label for="inputpassword" class="col-md-3 control-label">
                        Password
                        <span class='require'>*</span>
                      </label>
                      <div class="col-md-9">
                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="livicon" data-name="key" data-size="16" data-loop="true" data-c="#000" data-hc="#000"></i>
                                                            </span>
                          <input type="password" id="inputpassword" placeholder="Password" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputnumber" class="col-md-3 control-label">
                        Confirm Password
                        <span class='require'>*</span>
                      </label>
                      <div class="col-md-9">
                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="livicon" data-name="key" data-size="16" data-loop="true" data-c="#000" data-hc="#000"></i>
                                                            </span>
                          <input type="password" id="inputnumber" placeholder="Confirm Password" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <div class="col-md-offset-3 col-md-9">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      &nbsp;
                      <input type="reset" class="btn btn-default hidden-xs" value="Reset">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- content -->
</aside>