<aside class="right-side">
  <section class="content-header">

  </section>


  <section class="content paddingleft_right15">


    <div class="row">
      <div class="panel panel-warning ">

        <div class="panel-body">
          <div class="table-responsive">

            <form (ngSubmit)="addResource()">
              <div class="form-group draggable">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName"
                       [(ngModel)]="newResource.firstName" >
              </div>
              <div class="form-group draggable">
                <label >Last Name</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="newResource.lastName" >
              </div>
              <div class="form-group draggable">
                <label>Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="newResource.email">

              </div>
              <div class="form-group draggable">
                <label>Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="newResource.password">
              </div>
              <div class="form-group draggable">
                <label>seniority</label>
                <select id="seniority" class="form-control select2" name="seniority" required [(ngModel)]="newResource.seniority">
                  <option value="" selected>Select value...</option>
                  <option value="Senior">Senior</option>
                  <option value="Junior">Junior</option>

                </select>

              </div>

              <div class="form-group draggable">
                <label >Work Profile</label>
                <select id="workProfile" class="form-control" required name="workProfil" [(ngModel)]="newResource.workProfil">
                  <option value="" selected>Select value...</option>
                  <option value="Developper">Developper</option>
                  <option value="Designer">Designer</option>
                  <option value="Chef">Chef</option>
                </select>

              </div>
              <div class="form-group draggable">
                <label>Salary</label>
                <input type="text" class="form-control" #salary>
              </div>
              <div class="form-group draggable">
                <label>Job Type</label>
                <select id="jobType" class="form-control select2" name="jobType" required [(ngModel)]="newResource.jobType">
                  <option value="" selected>Select value...</option>
                  <option value="Freelancer">Freelancer</option>
                  <option value="LevioResource">Levio Resource</option>

                </select>

              </div>
              <div class="form-group draggable">
                <label>My Cv</label>
                <input type="text" class="form-control" id="cv" placeholder="cv" name="cv"
                       required [(ngModel)]="newResource.cv">
              </div>
              <div class="form-group draggable">
                <label>Business Sector</label>
                <input type="text" class="form-control" id="bussinessSector" placeholder="Business Sector"
                       name="businessSector" required [(ngModel)]="newResource.businessSector">
              </div>
              <div class="form-group draggable">
                <label>My photo</label>
                <input type="file" class="form-control" id="photo" name="file" required (change)="onFileChanged($event)">
              </div>

              <div class="form-group draggable pd-right">
                <button type="submit"  class="btn btn-primary btn-lg btn-block">Add</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>


  </section>
</aside>

