<aside class="right-side">
  <section class="content-header">
    <h1>Mandates</h1>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="livicon" data-name="home" data-size="16" data-color="#000"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#">Mandates</a>
      </li>
      <li class="active">All Gps</li>
    </ol>
  </section>


  <section class="content paddingleft_right15">


    <div class="row">
      <div class="panel panel-warning ">
        <div class="panel-heading">
          <h4 class="panel-title">
            <i class="livicon" data-name="users-remove" data-size="18" data-c="#ffffff" data-hc="#ffffff"></i> All Gps
          </h4>
        </div>
        <div class="panel-body">
          <div style="width: 200px">
            <input type="text" class="form-control" name="mot" placeholder="Search" [(ngModel)]="mot"><br><br>
          </div>
          <div class="table-responsive">



            <table class="table table-bordered">
              <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User E-mail</th>
                <th>Work Profil</th>
                <th>Seniority</th>
                <th>Job Type</th>
                <th>Skills</th>
                <th>Add</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let m of AllGps  | filtre : mot | paginate: { itemsPerPage: 2, currentPage: p }">
                <td>{{ m.firstName }}</td>
                <td>{{ m.lastName }} </td>
                <td>{{ m.email }}</td>
                <td>{{ m.workProfil }}</td>
                <td>{{ m.seniority }}</td>
                <td>{{ m.jobType }}</td>
                <td>
                  <div *ngFor="let i of m.resourceSkills">
                    <span class="tag label label-info">{{ i.skill.nameSkill}}</span>
                  </div>
                </td>
                <td>
                  <button (click)="add(m)" class="button button-pill button-success">Add</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div style="text-align: center">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>

          </div>
        </div>
      </div>
    </div>



  </section>
</aside>
